---
import Service from "../cards/Service.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";
import { about } from "../../data/about.ts";


type ServicesProps = {
    title: string;
    description: string;
    icon: string
};


---

<section id="acerca">
    <Container className="space-y-10 md:sapce-y-12">
        <div class="text-center max-w-3xl mx-auto space-y-4">
            <Title>
                Acerca del Evento
            </Title>

        </div>
        <div class="grid sm:grid-cols-2 lg:grid-cols-2 gap-6 lg:gap-8">
            {
                    about.map((about: ServicesProps) => {
                    return (
                            <Service title={about.title} description={about.description}></Service>
                            );
                    })
            }
        </div>
    </Container>
</section>