---
import Container from "../shared/Container.astro";
import Title from "../shared/Title.astro";

---

<section id="patrocinadores">
    <Container className="space-y-8">
        <div class="text-center max-w-3xl mx-auto">
            <Title>
                Patrocinadores
            </Title>
        </div>
        <!--CICC-->
        <div class="flex justify-center flex-wrap gap-4">
            <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <a href="https://www.instagram.com/ciccpucmm?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank" rel="noopener noreferrer">
                    <img src="/Brands/cicc.png" width="100" height="60" alt="cicc" class="h-7 sm:h-20 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
                </a>
            </div>
            <!--avathartech-->
            <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <a href="https://avathartech.com/" target="_blank" rel="noopener noreferrer">
                    <img src="/Brands/avathar.png" width="100" height="60" alt="avathar" class="h-7 sm:h-20 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
                </a>
            </div>
            <!--pucmm-->
            <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <a href="https://www.pucmm.edu.do" target="_blank" rel="noopener noreferrer">
                    <img src="/Brands/pucmm.png" width="100" height="60" alt="pucmm" class="h-7 sm:h-20 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
                </a>
            </div>
            <!--alphnology-->
            <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <a href="https://www.alphnology.com" target="_blank" rel="noopener noreferrer">
                    <img src="/Brands/alphnology.png" width="100" height="60" alt="alphnology" class="h-7 sm:h-20 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
                </a>
            </div>
            <!--SmartTetsting-->
            <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <a href="https://www.smarttestingrd.com/" target="_blank" rel="noopener noreferrer">
                    <img src="/Brands/SmartTetsting.png" width="100" height="60" alt="SmartTetsting" class="h-7 sm:h-20 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
                </a>
            </div>
            <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <a href="https://newsoft.do/" target="_blank" rel="noopener noreferrer">
                    <img src="/Brands/newsoft.png" width="100" height="60" alt="newsoft" class="h-7 sm:h-20 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
                </a>
            </div>
            <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <a href="https://aslan.com.do/" target="_blank" rel="noopener noreferrer">
                    <img src="/Brands/aslan.png" width="100" height="60" alt="alphnology" class="h-7 sm:h-20 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
                </a>
            </div>
            <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <a href="https://www.nettechinternational.com/" target="_blank" rel="noopener noreferrer">
                    <img src="/Brands/netTechInternacional.png" width="100" height="60" alt="alphnology" class="h-7 sm:h-20 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
                </a>
            </div>
            <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <a href="https://linda.com.do/" target="_blank" rel="noopener noreferrer">
                    <img src="/Brands/Linda.png" width="100" height="60" alt="alphnology" class="h-7 sm:h-20 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
                </a>
            </div>
        </div>

    </Container>
</section>