---
import Button from "../shared/Button.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import ByNumber from "./ByNumber.astro";

---

<section class="relative pt-10 lg:pt-10" id="inicio">
    <section class="relative max-xl mb-20 flex justify-center items-center mx-8">
        <img id="big-vladi" src="./Icono-des-2024-dark.png" alt="Hero image" class="max-h-96">
    </section>
    <Container className={"flex flex-col lg:flex-row gap-10 lg:gap-12"}>
        <div class="absolute w-full lg:w-1/2 inset-y-0 lg:right-0 ">
            <span class="absolute -left-6 md:left-[700px] top-24 lg:top-96 w-24 h-24 rotate-90 skew-x-12 rounded-3xl bg-red-500 blur-xl opacity-60 lg:opacity-95 lg:block hidden"></span>
            <span class="absolute right-4 bottom-12 w-24 h-24 rounded-3xl bg-primary blur-xl opacity-80"></span>
        </div>
        <span class="w-4/12 lg:w-2/12 aspect-square bg-gradient-to-tr from-[#00CBFE] to-[#008CF1] absolute -top-5 lg:left-0 rounded-full skew-y-12 blur-2xl opacity-40 skew-x-12 rotate-90"></span>
        <div class="relative flex flex-col items-center text-center lg:text-left lg:py-7 xl:py-8 
        lg:items-start lg:max-w-none max-w-3xl mx-auto lg:mx-0 lg:flex-1 lg:w-1/2">

            <h1 class="text-3xl/tight sm:text-4xl/tight md:text-5xl/tight xl:text-6xl/tight font-bold text-heading-1">
                Vive la experiencia Barcamp 2024
                <span class="text-transparent bg-clip-text bg-gradient-to-br from-[#00CBFE] via-[#008CF1] to-[#002B4A]">
                    Noviembre 16
                </span>
                PUCMM Santiago
            </h1>

            <div class="mt-10  w-full flex max-w-md mx-auto lg:mx-0">
                <div class="flex sm:flex-row flex-col gap-5 w-full">
                    <!-- <Button variant={"primary"} className={"min-w-max text-white"}>
                        <span class=" sm:flex relative z-[5]">
                            Regístrate
                        </span>
                    </Button> -->
                </div>
            </div>
        </div>

        <div class="relative flex flex-col text-center lg:text-left lg:py-7 xl:py-8 
        lg:items-center gap-y-2 lg:max-w-none max-w-3xl mx-auto lg:mx-0 lg:flex-1 lg:w-1/2 items-center border shadow drop-shadow-xl rounded-xl py-4">
            <!--CALL FOR SPEAKERS-->
            <!--<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="size-24">-->
            <!--    <image href="/call.png" x="0" y="0" width="48" height="48" />-->
            <!--</svg>-->
            <!--<h1 class="text-3xl/tight sm:text-4xl/tight md:text-5xl/tight font-bold text-heading-1">-->
            <!--    CALL FOR-->
            <!--    <span class="text-transparent bg-clip-text bg-gradient-to-br from-[#00CBFE] via-[#008CF1] to-[#002B4A]">SPEAKERS-->
            <!--    </span>-->
            <!--</h1>-->
            <!--<p class="text-lg md:text-xl font-semibold text-heading-2 text-center mb-4">Comparte tu conocimiento formando parte del equipo de charlistas</p>-->
            <!--<a href="https://www.papercall.io/barcamprd2024">-->
            <!--    <Button variant={"primary"} className={"min-w-max text-white"}>-->
            <!--    <span class=" sm:flex relative z-[5] lg:text-2xl">-->
            <!--       Envía tu charla-->
            <!--   </span>-->
            <!--</Button>-->
            <!--</a>-->

            <!--TICKETS ON SALE-->
            <!--<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="size-36">-->
            <!--    <image href="/ticketbarcamp.png" x="0" y="0" width="48" height="48" />-->
            <!--</svg>-->
            <!--<h1 class="text-3xl/tight sm:text-4xl/tight md:text-5xl/tight font-bold text-heading-1">-->
            <!--    <span class="text-transparent bg-clip-text bg-gradient-to-br from-[#00CBFE] via-[#008CF1] to-[#002B4A]">ENTRADAS DISPONIBLES-->
            <!--    </span>-->
            <!--</h1>-->
            <!--<p class="text-lg md:text-xl font-semibold text-heading-2 text-center mb-4">Pregunta por nuestro descuento para grupos</p>-->
            <!--<a href="https://www.papercall.io/barcamprd2024">-->
            <!--    <Button variant={"primary"} className={"min-w-max text-white"}>-->
            <!--    <span class=" sm:flex relative z-[5] lg:text-2xl">-->
            <!--       Adquiere tu entrada-->
            <!--   </span>-->
            <!--</Button>-->
            <!--</a>-->

            <!--TICKETS ON SALE GOLDEN-->
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="size-36">
                <image href="/ticketdorado.png" x="0" y="0" width="48" height="48" />
            </svg>
            <h1 class="text-3xl/tight sm:text-4xl/tight md:text-5xl/tight font-bold text-heading-1">
                <span class="text-transparent bg-clip-text bg-gradient-to-br from-[#F6E05E] via-[#F6C23D] to-[#D29B20]">ENTRADAS DISPONIBLES
                </span>
            </h1>
            <p class="text-lg md:text-xl font-semibold text-heading-2 text-center mb-4">
                CÓDIGO, CONEXIÓN y COMUNIDAD
            </p>
            <a href="https://webapp-st.pucmm.edu.do/RegistroEvento/EditInscripcionEvento.aspx?id=68">
                <Button variant={"primary"} className={"min-w-max text-white"}>
                <span class=" sm:flex relative z-[5] lg:text-2xl">
                   Adquiere tu entrada
               </span>
                </Button>
            </a>
        </div>
    </Container>

    <ByNumber/>
</section>