---
import Button from "../shared/Button.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import ByNumber from "./ByNumber.astro";

---

<section class="relative pt-10 lg:pt-10" id="inicio">
    <section class="mx-auto max-w-7xl w-full px-5 sm:px-2 md:px-2 lg:px-5">
        <img id="big-vladi" src="./Icono-des-2024-dark.png" alt="Hero image" class="max-h-96">
        <div class="flex items-center justify-center h-full">
            <h1 class="text-3xl/tight sm:text-4xl/tight md:text-5xl/tight xl:text-6xl/tight font-bold text-heading-1 mt-16 mb-16">
                <span class="text-transparent bg-clip-text bg-gradient-to-br from-[#00CBFE] via-[#008CF1] to-[#002B4A]">
                    CÓDIGO, CONEXIÓN y COMUNIDAD
                </span>
            </h1>
        </div>
    </section>
    <Container className={"flex flex-col lg:flex-row gap-10 lg:gap-12"}>
        <div class="absolute w-full lg:w-1/2 inset-y-0 lg:right-0 ">
        
            <span class="absolute right-4 bottom-12 w-24 h-24 rounded-3xl bg-primary blur-xl opacity-80"></span>
        </div>
        <span class="w-4/12 lg:w-2/12 aspect-square bg-gradient-to-tr from-[#00CBFE] to-[#008CF1] absolute -top-5 lg:left-0 rounded-full skew-y-12 blur-2xl opacity-40 skew-x-12 rotate-90"></span>
        

        

    </Container>

    <ByNumber/>
</section>