---
import Title from "../shared/Title.astro";
---

<section id="invitado">
    <div class="text-center max-w-3xl mx-auto">
        <Title>
            Invitado Especial
        </Title>
    </div>
    <section class="mx-auto max-w-7xl w-full px-5 sm:px-2 md:px-2 lg:px-5  space-y-10 md:space-y-12 mt-8"> 
    <img src="/speakers/invitado.png" class="rounded-3xl">
    </section>

</section>