---
import Title from "../shared/Title.astro";
---

<section id="location" class="relative pt-6 lg:pt-8 ">
    <div class="col-span-1 md:col-span-3 lg:col-span-3 text-center mb-6">
        <Title>Ubícanos</Title>
    </div>
    <section class="mx-auto max-w-7xl w-full px-5 sm:px-2 md:px-2 lg:px-5  space-y-10 md:space-y-12 "> 
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3762.3070984555106!2d-70.68684148398134!3d19.442321986878877!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8eb1cf6f0a95c9f9%3A0x77ca6ffcce6b71a3!2sEdificio%20Padre%20Arroyo!5e0!3m2!1ses!2sdo!4v1666205630950!5m2!1ses!2sdo"
            loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="w-full h-[600px] rounded-3xl"></iframe>
    </section>
</section>
