---
import ViewTransitions from "astro/components/ViewTransitions.astro";
import Title from "../shared/Title.astro";
import Container from "../shared/Container.astro";

const { testimonial } = Astro.props;
---

{
		<ViewTransitions />

    <section class="section">
      <Container className="container space-y-10 md:sapce-y-12">
        <div class="row">
          <div class="text-center max-w-3xl mx-auto space-y-4">
            <Title>
                Ediciones Anteriores
            </Title>

        </div>
          <div class="col-1">
            <div class="swiper testimonial-slider">
              <div class="swiper-wrapper">
                {testimonial.map(
                  (item: {
                    image: string;
                    description: string;
                  }) => (
                    <div class="swiper-slide">
                      <div class="rounded-lg bg-theme-light px-7 py-10 dark:bg-darkmode-theme-light">
                        <div class="mt-0 flex items-center">
                          <div class="ml-4">
                            <img
                              src={item.image}
                              class="h5 font-primary font-semibold"
                            />
                            <p
                              set:text={item.description}
                              class="text-lg md:text-xl font-semibold text-heading-2 text-center"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  )
                )}
              </div>
              <div class="testimonial-slider-pagination mt-3  items-center justify-center text-center " />
            </div>
          </div>
        </div>
      </div>
    </section>

}

<script>
  import Swiper from "swiper";
  import "swiper/css";
  import "swiper/css/pagination";
  import { Autoplay, Pagination } from "swiper/modules";

  // astro:page-load event is fired when the page is loaded
  document.addEventListener("astro:page-load", () => {
    new Swiper(".testimonial-slider", {
      modules: [Pagination, Autoplay],
      spaceBetween: 24,
      loop: true,
      centeredSlides: true,
      autoplay: {
        delay: 4000,
        disableOnInteraction: false,
      },
      pagination: {
        el: ".testimonial-slider-pagination",
        type: "bullets",
        clickable: true,
      },
      breakpoints: {
        768: {
          slidesPerView: 2,
        },
        992: {
          slidesPerView: 3,
        },
      },
    });
  });
</script>
