---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Hero from '../components/sections/Hero.astro';
import AboutUs from '../components/sections/AboutUs.astro';
import Testimonial from '../components/sections/Testimonial.astro';
import { allEvents } from "../data/allEvents.ts";
import Brands from '../components/sections/Brands.astro';
import Conducta from '../components/sections/Conducta.astro';
import Desconferencias from "../components/sections/Desconferencias.astro";
import Speakers from "../components/sections/Speakers.astro";
import Location from '../components/sections/Location.astro';
import Invitado from '../components/sections/Invitado.astro';
---

<Layout title="Welcome to Astro.">
	<main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">
		<Hero/>
		<AboutUs/>
		<Invitado/>
		<Desconferencias/>
		<Speakers/>
		<Testimonial testimonial={allEvents} />
		<Brands/>
		<Location/>
		<Conducta/>
	</main>
</Layout>