---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Hero from '../components/sections/Hero.astro';
import AboutUs from '../components/sections/AboutUs.astro';
---

<Layout title="Welcome to Astro.">
	<main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">
		<Hero/>
		<AboutUs/>
	</main>
</Layout>