---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Hero from '../components/sections/Hero.astro';
import AboutUs from '../components/sections/AboutUs.astro';
import Testimonial from '../components/sections/Testimonial.astro';
import { allEvents } from "../data/allEvents.ts";
import Brands from '../components/sections/Brands.astro';
import Conducta from '../components/sections/Conducta.astro';
---

<Layout title="Welcome to Astro.">
	<main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">
		<Hero/>
		<AboutUs/>
		<Testimonial testimonial={allEvents} />
		<Brands/>
		<Conducta/>
	</main>
</Layout>